@using Infotronix_admin.Models
@model LoginViewModel
@{
    ViewBag.Title = "Log in";
}
<div class="account-pages"></div>
<div class="clearfix"></div>
<div class="wrapper-page">
    <div class="card-box">
        <div class="panel-heading">
            <h4 class="text-center"> Sign In to <strong>Infotronix</strong></h4>
        </div>
        <div class="p-20">
            @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal m-t-20", role = "form" }))
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group-custom">
                    @Html.TextBoxFor(m => m.Email)
                    <label class="control-label" for="user-name">Username</label><i class="bar"></i>
                    @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                </div>
                <div class="form-group-custom">
                    @Html.PasswordFor(m => m.Password)
                    <label class="control-label" for="user-password">Password</label><i class="bar"></i>
                    @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                </div>
                <div class="form-group ">
                    <div class="col-12">
                        <div class="checkbox checkbox-primary">
                            <input id="checkbox-signup" type="checkbox">
                            <label for="checkbox-signup">
                                Remember me
                            </label>
                        </div>
                    </div>
                </div>
                <div class="form-group text-center m-t-40">
                    <div class="col-12">
                        <button class="btn btn-success btn-block text-uppercase waves-effect waves-light"
                                type="submit">
                            Authenticate
                        </button>
                    </div>
                </div>
                <div class="form-group m-t-30 m-b-0">
                    <div class="col-12">
                        <a href="javascript:void(0);" class="text-dark">
                            <i class="fa fa-lock m-r-5"></i> Forgot
                            your password?
                        </a>
                    </div>
                </div>
            }
        </div>
    </div>
</div>
<script>
    var resizefunc = [];
</script>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}